<div class="section-container" [ngClass]="getBackgroundClass()">
  <div class="overlay">
    <div class="content">
      <div class="card-grid">
        <!-- Intro -->

          <!-- SCHOOL -->
        <div class="card" class="bscs">
        </div>
        <div class="card full">
          <h3>BSCS PROGRAM</h3>
          <img src="../../assets/images/expschool1.jpg" alt="Rides" />
          <p>During my time in school, I gained a strong foundation in programming by learning the fundamental concepts that underpin modern software development. I was introduced to core principles such as problem-solving, algorithm design, and logical thinking. Through hands-on projects and coding exercises. This academic experience helped me build not just technical skills, but also the discipline and mindset required to approach real-world programming challenges with confidence.</p>
        </div>

        <!-- HACKATHONS -->
        <div class="card full">
          <h3>HACKATHONS, IDEATHONS AND SEMINARS</h3>
          <img src="../../assets/images/phblockchain.jpg" alt="Rides" />
          <p>Beyond the classroom, I have actively participated in hackathons, ideathons, and technical seminars that allowed me to apply and expand my programming knowledge in real-world scenarios. These experiences challenged me to think critically, collaborate under pressure, and deliver innovative solutions within limited timeframes. Through these competitions, I honed my skills in competitive programming and strengthened my capabilities as a frontend developer. I frequently work with modern frameworks like React and Angular, using them to build responsive, user-friendly interfaces and dynamic web applications. These opportunities not only sharpened my technical proficiency but also enhanced my creativity, teamwork, and adaptability qualities that continue to shape my growth in the tech industry.</p>
        </div>
        <div class="card" class="seminars">
        </div>

         <!-- INTERNSHIP -->
        <div class="card" class="internship">
        </div>
        <div class="card full">
          <h3>INTERNSHIP</h3>
          <img src="../../assets/images/expinfor2.jpg" alt="Rides" />
          <p>During my internship at Infor as a Software Engineer Intern, I gained valuable exposure to the corporate environment. I worked closely with international development teams and learned the importance of agile collaboration, effective communication, structured workflow and gained more  understanding about Enterprise Resource Planning softwares. I also deepened my experience and knowledge as a guy who really loves to create softwares that is very helpful to the people. In the way my skills with Angular and provided a practical understanding of large-scale software development in a professional setting also greatly improve.</p>
        </div>

       


        

       
      </div>
    </div>
  </div>
</div>
