<div class="section-container" [ngClass]="getBackgroundClass()">
  <div class="overlay">
    <div class="content">
      <div class="card-grid">
        <!-- Intro -->
        <div class="card full">
          <h5>ABOUT ME</h5>
          <img src="../../assets/images/me.jpg" alt="Rides" />
          <p>Hello! I'm a developer with a deep passion for crafting clean UIs and delivering seamless user experiences.</p>
        </div>

        <!-- Coffee -->
        <div class="card">
          <h5>FAVORITE</h5>
          <img src="../../../assets/images/cofee.jpg" alt="Coffee" />
          <p>Coffee is my daily fuel, it's the perfect companion for coding.</p>
        </div>

        <!-- Siblings -->
        <div class="card">
          <h5>SIBLINGS</h5>
          <img src="../../../assets/images/siblings.jpg" alt="Siblings" />
          <p>Their energy and laughter constantly inspire me.</p>
        </div>

        <!-- Rides -->
        <div class="card">
          <h5>HOBBY</h5>
          <img src="../../../assets/images/rides.jpg"  alt="Motorcycle Rides" />
          <p>I love weekend motorcycle rides, it’s how I unwind and explore the world around me.</p>
        </div>

        <!-- Goals -->
        <div class="card">
          <h5>GOAL</h5>
          <img src="../../../assets/images/goals.jpg"  alt="Motorcycle Rides" />
          <p>My goal is to become a software engineer/developer who creates technologies that greatly help people.</p>
        </div>

        <!-- Education -->
         <div class="card full">
          <h5>EDUCATION</h5>
          <img src="../../assets/images/education.jpg" alt="Rides" />
          <p>I recently graduated from STI College Caloocan with a Bachelor of Science in Computer Science, where I learned the foundations of my coding skills.</p>
        </div>
      </div>
    </div>
  </div>
</div>
