<nav class="navbar" [ngClass]="{'light-navbar': sharedService.getBackgroundState() === 1}">
  <div class="logo">Markjarnaiz</div>
  <ul class="nav-links">
    <li>
      <a (click)="onBackgroundIconClick()" class="icon-toggle">
        <ng-container [ngSwitch]="sharedService.getBackgroundState()">
          <i *ngSwitchCase="0" class="fas fa-sun"></i>
          <i *ngSwitchCase="1" class="fas fa-palette"></i>
          <i *ngSwitchDefault class="fas fa-moon"></i>
        </ng-container>
      </a>
    </li>
    <li>
      <a (click)="onIconClick()" class="icon-toggle">
        <ng-container [ngSwitch]="sharedService.getHomeState()">
          <i *ngSwitchCase="0" class="fas fa-sliders-h"></i>
          <i *ngSwitchCase="1" class="fas fa-home"></i>
          <i *ngSwitchDefault class="fas fa-grip"></i>
        </ng-container>
      </a>
    </li>
  </ul>
</nav>
