<nav class="navbar" [ngClass]="{'light-navbar': sharedService.getBackgroundState() === 1}">
  <div class="logo">Markjarnaiz</div>
  <ul class="nav-links">

    <li>
      <a (click)="onBackgroundIconClick()" class="icon-toggle">
        <ng-container [ngSwitch]="sharedService.getBackgroundState()">
          <i *ngSwitchCase="0" class="fas fa-sun"  title="Light Mode"></i>
          <i *ngSwitchCase="1" class="fas fa-palette" title="Default"></i>
          <i *ngSwitchDefault class="fas fa-moon" title="Dark Mode"></i>
        </ng-container>
      </a>
    </li>

    <li>
      <a (click)="onIconClick()" class="icon-toggle">
        <ng-container [ngSwitch]="sharedService.getHomeState()">
          <i *ngSwitchCase="0" class="fas fa-sliders-h" title="Sliders"></i>
          <i *ngSwitchCase="1" class="fas fa-home" title="Home"></i>
          <i *ngSwitchDefault class="fas fa-grip" title="Grid"></i>
        </ng-container>
      </a>
    </li>

     <li>
      <a href="/assets/resume.pdf" download class="icon-toggle" title="Download Resume">
         <ng-container [ngSwitch]="sharedService.getBackgroundState()">
            <i class="fas fa-file-download"></i>
         </ng-container>
      </a>
    </li>
  </ul>
</nav>
