<div class="section-container" [ngClass]="getBackgroundClass()">
  <div class="overlay">
    <div class="content">
      <div class="card-grid">

        <div class="card">
          <h3>ADAPTECH</h3>
          <img src="../../../assets/images/adaptech.png" alt="Adaptech Certificate" />
          <p>
            Link: 
            <a href="https://drive.google.com/file/d/1dAoyxRS5uNamvt34nibC0fy4fWciILW1/view?usp=drive_link" target="_blank">
              Download here
            </a>
          </p>
        </div>

        <div class="card">
          <h3>DICT</h3>
          <img src="../../../assets/images/dict.png" alt="DICT Certificate" />
          <p>
            Link: 
            <a href="https://drive.google.com/file/d/1jyzIuODWWxjeuF_RU9X9OeF43L2QEOOy/view?usp=drive_link" target="_blank">
              Download here
            </a>
          </p>
        </div>

        <div class="card">
          <h3>INFOR</h3>
          <img src="../../../assets/images/infor.png" alt="Infor Certificate" />
          <p>
            Link: 
            <a href="https://drive.google.com/file/d/1PmD4R7Lr9xRFztXeLr8vbx_KeBPPRIwv/view?usp=drive_link" target="_blank">
              Download here
            </a>
          </p>
        </div>

        <div class="card">
          <h3>ZUITT</h3>
          <img src="../../../assets/images/zuitt.png" alt="Zuitt Certificate" />
          <p>
            Link: 
            <a href="https://drive.google.com/file/d/1eNstIuHdHu3ZasfVyddwMtCnC4uwmvLZ/view?usp=drive_link" target="_blank">
              Download here
            </a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
