<div [ngSwitch]="homeLabelState">
  <!-- HOME Section (default case) -->
  <section *ngSwitchDefault [ngClass]="getBackgroundClass()" class="section-container">
    <div class="overlay">
      <div class="content">
        <div>
          <h1 #hackerText>MARKJARNAIZ</h1>
          <h2>software engineer</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- GRID Section (when homeLabelState === 0) -->
  <section *ngSwitchCase="0" [ngClass]="getBackgroundClass()" class="section-container home-grid-section">
    <div class="overlay">
      <div class="content">
        <div class="card-grid">
          <ng-container *ngIf="isCardGridLoading; else homeCards">
            <app-card-skeleton
              *ngFor="let skeleton of skeletonCards"
              [imageHeight]="skeleton.imageHeight || 110"
              [lineWidths]="skeleton.lineWidths || ['92%', '68%']"
            ></app-card-skeleton>
          </ng-container>

          <ng-template #homeCards>
            <div
              class="card"
              #cardRef
              *ngFor="let card of cards"
              (click)="navigateTo(card.title)"
            >
              <div class="card-image" [ngStyle]="{ 'background-image': 'url(' + card.image + ')' }">  
              <div class="tap-icon-wrapper">
                  <img src="../../../assets/images/whiteclick.png" alt="Tap here" class="tap-icon" />
                </div> 
              </div>
              <div class="card-content">
                <h3>{{ card.title }}</h3>
                <p>{{ card.description }}</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </section>

</div>
