<div class="section-container" [ngClass]="getBackgroundClass()">
  <div class="overlay">
    <div class="content">
      <div class="card-grid">

        <div class="card full">
              <h3>USCL Digital Transaction Management System</h3>
              <img src="../../assets/images/uscl.png" alt="USCL System Screenshot" />
              
              <p>
                <strong>Live at: </strong>
                <a href="https://uscl-ltd.vercel.app/home" target="_blank" rel="noopener noreferrer"> USCL</a>
              </p>
              
              <p>
                <strong>Note:</strong> To access admin features, please log in using the credentials below:
                <br />
                <strong>Username:</strong> demo <br />
                <strong>Password:</strong> 123
              </p>
              
              <p>
                <strong>Full Access:</strong> Kindly leave me a message 
                <a href="#" title="Contact me"> here</a>.
              </p>
        </div>

        <div class="card full">
          <h3>KM Geronimo Dental Manangement System (Mobile)</h3>
          <img src="../../assets/images/kmmobile.jpg" alt="USCL System Screenshot" />

          <p>
            <strong>Live at: </strong>
            currently not deployed
          </p>

          <p>
            <strong>Note:</strong> For full system demonstration kindly leave a message <a href="#" title="Contact me"> here</a>.
          </p>
        </div>
        
        <div class="card full">
          <h3>KM Geronimo Dental Manangement System (Web)</h3>
          <img src="../../assets/images/kmweb.jpg" alt="USCL System Screenshot" />

          <p>
            <strong>Live at: </strong>
            currently not deployed
          </p>

          <p>
            <strong>Note:</strong> For full system demonstration kindly leave a message <a href="#" title="Contact me"> here</a>.
          </p>
        </div>

        <div class="card full">
          <h3>ARNAIZ Cine City – Online Ticket Reservation System</h3>
          <img src="../../assets/images/cinecity.jpg" alt="USCL System Screenshot" />

          <p>
            <strong>Live at: </strong>
            currently not deployed
          </p>

          <p>
            <strong>Note:</strong> For full system demonstration kindly leave a message <a href="#" title="Contact me"> here</a>.
          </p>
        </div>

        <div class="card full">
              <h3>My Portofolio V1</h3>
              <img src="../../assets/images/portfolio.png" alt="USCL System Screenshot" />
              
              <p>
                <strong>Live at: </strong>
                <a href="https://markjportfolio.vercel.app/" target="_blank" rel="noopener noreferrer"> MARKJARNAIZ</a>
              </p>
              
        </div>


      </div>
    </div>
  </div>
</div>
